body{
	font-family: arial;
	font-size : 1.2em;
	color : #333;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	background: #aaa url("../img/bg-maison.png") repeat-x;
	/*background-repeat: repeat-x;*/	
}

a{
	text-decoration: none;
}

.clear {
    clear: both;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}

.wrapper {
    width: 100%;
    display:block;
    position: static;
}

/* En tete */
header {
    display: block;
    width: 980px;
    margin: 0 auto;
}

header img {
    float: left;
    margin-right: 10;
    transform:rotate(30deg);
	-ms-transform:rotate(30deg); /* IE 9 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
}

header .titre {
	float:left;
	margin-top: 10;
}

header h1 {
    /*color: blue;*/
    margin: 0;
    padding: 0;
    animation: monanim 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	-webkit-animation: monanim 2s; /* Safari and Chrome */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

@keyframes monanim
{
from {color:red;}
to {color:blue;}
}

@-webkit-keyframes monanim /* Safari and Chrome */
{
from {color:red;}
to {color:blue;}
}

header h2{
    color: red;
    margin: 0;
    padding: 0;
    animation: monanim2 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	-webkit-animation: monanim2 2s; /* Safari and Chrome */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

@keyframes monanim2
{
from {color:blue;}
to {color:red;}
}

@-webkit-keyframes monanim2 /* Safari and Chrome */
{
from {color:blue;}
to {color:red;}
}

video{
	margin-left: 50px;
}

#menu{
	display: block;
	width: 980px;
	margin: 0 auto;
}

#menu ul{
	display: block;
	width: 100%;
	list-style-type: none;
}

#menu li{
	display: block;
	width: 25%;
	background-color: #333;
	float: left;
}

#menu li:hover{
	/*background-color: red;*/
    transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* IE 9 */
	-webkit-transform:rotate(5deg); /* Safari and Chrome */
    text-shadow: 5px 5px 5px #fff;
}

#menu li a {
    color: #fff;
    text-shadow: 5px 5px 5px #fff;
}

.form label {
    display: block;
    float: left;
    width:250px;
    text-align: right;
}

.form input {
	float: left;
    width:250px;
    margin-left: 20px;
}

footer  {
    width: 100%;
    display:block;
    position: fixed;
    bottom: 0;
}
footer nav{
	display: block;
	width: 980px;
	margin: 0 auto;
}

footer ul{
	display: block;
	width: 100%;
	list-style-type: none;
}

footer li{
	display: block;
	width: 25%;
	float: left;
}

footer li:hover{
	background-color: red;	

}

footer a:hover {
	color: black;
}

footer li a {
    color: #fff;
}


